<div class="container">
    <div class="card p-5 mt-4">
           <h4 class="text-center">{{spellDetails?.name}} Details</h4>
        <p><span>Name:</span>&nbsp;&nbsp;<b>{{spellDetails?.name}}</b></p>
        <p><span>Level:</span>&nbsp;&nbsp;<b>{{spellDetails?.level}}</b></p>
        <p><span>Range:</span>&nbsp;&nbsp;<b>{{spellDetails?.range}}</b></p>
        <p><span>Attack Type:</span>&nbsp;&nbsp;<b>{{spellDetails?.attack_type}}</b></p>
        <p><span>Description:</span>&nbsp;&nbsp;<b>{{spellDetails?.desc[0]}}</b></p>
      

      </div>
</div>